@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #EFEFEF;
  width: 23%;
  max-width: 23%;
  padding: 2em;
  line-height: 2em;
  font-size: 1.05em;
  font-family: 'Nunito Sans', sans-serif;
}

#navbar a {
  text-decoration: none;
  color: #2E444E;
  padding: 0 0.5em;
  border-radius: 4%;
  width: 100%;
}

#navbar a:hover {
  background-color: #D9D9D9;
}

main {
  padding: 0 2em 6em 1em;
  width: 75%;
  margin-left: auto;
  line-height: 1.8em;
  font-family: 'Nunito Sans', sans-serif;
}

section>header {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9em;
  padding: 3em 0 1em 0;
}

section>p,
li {
  font-size: 1.15em;
  margin-bottom: 0.6em;
  font-family: 'Nunito Sans', sans-serif;
}

strong {
  font-weight: 700;
}

.code {
  font-size: 1.15em;
  background-color: black;
  color: #B7B9B8;
  margin: 2em 0;
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0px 0px 8px 1px rgba(163, 163, 163, 1);
}

#pink {
  color: #D1949E;
}

.orange {
  color: #F5B83D;
}

.green {
  color: #BDE051;
}

.pink {
  color: #D1949E;
}

.white {
  color: #C5C8C6;
}

.note {
  background-color: #FBEEF2;
  padding: 0.5em 1.5em;
  border-radius: 0.2em;
  border-left: solid 0.25em #DB7093;
}

.note p {
  font-size: 1.15em;
}

.pink-underline {
  color: #DB7093;
}

#click {
  font-size: 1.15em;
  background-color: white;
  border: none;
  margin: 2.5em 0 1em 0;
}

#click:hover {
  cursor: pointer;
}

#show-hide p {
  font-size: 1.15em;
}

u {
  color: #DB7093;
}

#show-hide {
  display: none;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.code-editor {
  width: 50%;
  background-color: #1E2027;
  color: #87725E;
  font-size: 1.1em;
  padding: 0.5em 2em 0.5em 0.5em;
  height: 22em;
  overflow-y: scroll;
  line-height: 1.2em;
}

#hello {
  background-color: #FFEFD5;
  color: #DB7093;
  width: 45%;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hello code {
  font-size: 2em;
  font-weight: 700;
}

.button {
  width: 45%;
  padding-top: 1.5em;
}

.button button {
  font-size: 1.15em;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  margin-right: 1.5em;
}

.pink-button {
  color: #db7093;
  border: solid 0.1em #db7093;
}

.orange-button {
  color: #FF6347;
  border: solid 0.1em #FF6347;
}

#all-pink {
  color: white;
  background-color: #db7093;
}

.monospace {
  font-family: monospace;
  border: solid 0.15em;
  margin-top: 1em;
  width: 90%;
  text-align: left;
}

.monospace a {
  font-size: 1.2em;
}

.monospace a:hover {
  cursor: pointer;
}

#space {
  margin-bottom: 1em;
}

.top {
  margin-top: 3em;
}

footer {
  width: 75%;
  margin-left: auto;
  text-align: right;
  margin-bottom: 2em;
  padding-right: 2em;
  line-height: 2em;
}

#soc-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2.3em;
  max-width: 5em;
  width: 100%;
  margin-left: auto;
  padding-right: 3em;
}

.social img {
  max-width: 2em;
  height: auto;
  margin-right: 2.5em;
}

#info {
  margin-top: 2em;
  width: 25em;
  margin-left: auto;
}

#info p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.65em;
  /* line-height: 0.6em; */
}

#info a {
  color: #c3c7cb;
  text-decoration: underline;
}

#info a:hover {
  cursor: pointer;
  color: #656667;
}

@media (max-width: 520px) {
  #navbar {
    display: none;
  }

  main {
    width: 100%;
    font-size: x-small;
    padding: 0 3em;
  }

  .container {
    width: 100%;
    display: block;
    /* margin-left: 3.5em; */
  }

  .code-editor,
  #hello,
  .button {
    width: 80%;
    margin: auto;
  }

  #click {
    display: none;
  }

  #hello {
    margin-top: 1em;
  }

  #soc-container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 2.3em;
    padding-right: 0;
  }

  .social {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .social img {
    margin-right: 0;
  }

  footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
  }
}